<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav">
    <button color="primary" mat-button routerLink="/parking"><mat-icon>local_parking</mat-icon> Parking <mat-icon>arrow_drop_down</mat-icon></button>
<!--     <mat-menu #menu="matMenu">
      <button mat-menu-item>View All</button>
      <button mat-menu-item>Update</button>
      <button mat-menu-item>Search</button>
    </mat-menu> -->
    <button color="primary" mat-button routerLink="/fuel-pumps"><mat-icon>local_gas_station</mat-icon> Fuel Pumps <mat-icon>arrow_drop_down</mat-icon></button>
    <button color="primary" mat-button routerLink="/coffee"><mat-icon>local_cafe</mat-icon> Coffee <mat-icon>arrow_drop_down</mat-icon></button>
    <button color="primary" mat-button routerLink="/employees"><mat-icon>people</mat-icon> Employees <mat-icon>arrow_drop_down</mat-icon></button>
  </mat-drawer>
  <div class="sidenav-content">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-icon-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>

        <header>&lt;&lt; <mark>PLACE HEADER TITLE HERE</mark> </header>
        <span class="spacer"></span>
        
        <button mat-icon-button>
          <mat-icon>store</mat-icon>
        </button>

        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>shopping_cart</mat-icon>
            <span>Cart</span>
          </button>
          <button mat-menu-item disabled>
            <mat-icon>mode_comment</mat-icon>
            <span>Comment</span>
          </button>
          <button mat-menu-item>
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
          </button>
        </mat-menu>
      </mat-toolbar-row>

    </mat-toolbar>

    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
