<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h3">{{contentHeader}}</h1>
</div>
<div class="alert alert-primary" role="alert">
    <h3>Real-time Overview</h3>
</div>

<div class="card-deck">
    <div class="card">
        <div class="card-body bg-warning">
            <h4 class="card-title"><strong>1</strong></h4>
            <h5 class="card-text">In Use</h5>
        </div>
        <ul class="list-group list-group-flush">
            <a href="fuel-pumps" class="list-group-item">Speak To Pump</a>
            <a href="fuel-pumps" class="list-group-item">Cancel Transaction</a>
            <a href="fuel-pumps" class="list-group-item">View Real-Time Data</a>
        </ul>
        <div class="card-body">
            <a href="#" class="card-link">Fuel Supplier Direct Chat</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body bg-success">
            <h4 class="card-title"><strong>2</strong></h4>
            <h5 class="card-text">Available</h5>
        </div>
        <ul class="list-group list-group-flush">
            <a href="fuel-pumps" class="list-group-item">Speak To Pump</a>
            <a href="fuel-pumps" class="list-group-item">Cancel Transaction</a>
            <a href="fuel-pumps" class="list-group-item">View Real-Time Data</a>
        </ul>
        <div class="card-body">
            <a href="#" class="card-link">Fuel Supplier Direct Chat</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body bg-danger">
            <h4 class="card-title"><strong>3</strong></h4>
            <h5 class="card-text">Unavailable</h5>
        </div>
        <ul class="list-group list-group-flush">
            <a href="fuel-pumps" class="list-group-item">Speak To Pump</a>
            <a href="fuel-pumps" class="list-group-item">Cancel Transaction</a>
            <a href="fuel-pumps" class="list-group-item">View Real-Time Data</a>
        </ul>
        <div class="card-body">
            <a href="#" class="card-link">Fuel Supplier Direct Chat</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body bg-success">
            <h4 class="card-title"><strong>4</strong></h4>
            <h5 class="card-text">Available</h5>
        </div>
        <ul class="list-group list-group-flush">
            <a href="fuel-pumps" class="list-group-item">Speak To Pump</a>
            <a href="fuel-pumps" class="list-group-item">Cancel Transaction</a>
            <a href="fuel-pumps" class="list-group-item">View Real-Time Data</a>
        </ul>
        <div class="card-body">
            <a href="#" class="card-link">Fuel Supplier Direct Chat</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body bg-success">
            <h4 class="card-title"><strong>5</strong></h4>
            <h5 class="card-text">Available</h5>
        </div>
        <ul class="list-group list-group-flush">
            <a href="fuel-pumps" class="list-group-item">Speak To Pump</a>
            <a href="fuel-pumps" class="list-group-item">Cancel Transaction</a>
            <a href="fuel-pumps" class="list-group-item">View Real-Time Data</a>
        </ul>
        <div class="card-body">
            <a href="#" class="card-link">Fuel Supplier Direct Chat</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body bg-danger">
            <h4 class="card-title"><strong>6</strong></h4>
            <h5 class="card-text">Unavailable</h5>
        </div>
        <ul class="list-group list-group-flush">
            <a href="fuel-pumps" class="list-group-item">Speak To Pump</a>
            <a href="fuel-pumps" class="list-group-item">Cancel Transaction</a>
            <a href="fuel-pumps" class="list-group-item">View Real-Time Data</a>
        </ul>
        <div class="card-body">
            <a href="#" class="card-link">Fuel Supplier Direct Chat</a>
        </div>
    </div>
</div>